@import url(./rc-image.css);

body {
  margin: 0;
  font-optical-sizing: auto;
  height: 100vh;
  height: 100dvh;
  --sidebar-item: 220px;
  --sidebar-padding: 13px;
  --sidebar-width: calc(var(--sidebar-item) + var(--sidebar-padding));
}

#root {
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "Poppins", sans-serif !important;
}

input.date-empty {
  color: transparent;
}

.normal-text {
  font-weight: normal;
}

#order-form-scroll-element {
  position: absolute;
  top: 0;
}
